.color{
  float: left;
  width: 20px;
  height: 20px;
  margin : 5px;
}
.green{
  background-color: green;
  cursor:pointer;
}
.red{
    background-color: red;
    cursor:pointer;
}
.blue{
    background-color: blue;
    cursor:pointer;
}
